uvicorn
fastapi~=0.116.1
SQLAlchemy~=2.0.35
psycopg2-binary~=2.9.9
pydantic_settings
perplexityai
python-jose~=3.3.0
python-multipart
argon2_cffi
pydantic[email]~=2.11.7
watchdog~=6.0.0
pytest~=8.4.1
boto3~=1.40.23
alembic~=1.16.5
email-validator
requests~=2.32.5
pytest-asyncio
contextvars~=2.4
httpx~=0.28.1
starlette~=0.47.3
typing_extensions~=4.15.0
passlib
google-auth-oauthlib~=1.2.1
google-auth-httplib2~=0.2.0
google-auth~=2.28.0
python-dotenv~=1.0.0
